#patient_view_card{
	margin:20px;
	padding-left: 15%;
}

#username_header {
	margin-top: 30px;
	font-weight: bold;
}

#patient_email {
	font-size: 15px;
	font-weight: 450;
}

#yourapp{
	font-size: 20px;
	font-weight: bold;

	padding-left: 80px;
}



#profilePage{
	display: grid;
	height: 100%;
	margin: 10%;
	margin-top: 50px;
	grid-template-columns: 20% 80%;
}

#userInfo{
	align-items: center;
	justify-content: center;
	text-align: center;
}

#profilePic{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

#appointmentCard{
	border-radius: 20px;
	box-shadow: 0 0 3px #ccc;
	padding: 10px;	
}

#appointmentCard:hover{
	background-color:#D6DBE6;
}

#cardLayout{
	display: grid;
    grid-template-columns: 80% 20%;
	align-items: center;
	height: max-content;
}

#infoAppointment>p{
	margin-top: 8px !important;
	margin-bottom: 0px !important;
}


