/*The CSS file for payment_successful.js*/
#succ {
	font-size: 28px;
	font-weight: 580;
	text-align: center;

}


.image-container{
	padding-top: 100px;
	display: flex;
 	justify-content: center;
   	align-items: center;
}
#all {
	text-align: center;
}
