.evalCenter {
    /*max-width: 70%;
    /*margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 25%;
    padding: 25px 25px 25px 25px;
    box-sizing: border-box;*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 50px;
    padding-top: 25px;
    margin-bottom: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
    width:40%;
    height: max-content;
    box-shadow: 0px 0px 3px #ccc;
    border: 0px solid black;
  }



.evalFields {
  justify-content: center;
  margin: 4px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  text-align: center;

}

.evalFieldLabel {
    float: left;
    width:75%;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: black;
}

.evalFieldLabelDescription {
    font-size: 20px;
    float: left;
    font-weight: bold;
    margin: 10px;
    margin-left: 0;
}
  
.evalFieldInput {
    width: 25%;
    float: right;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 1rem;
    font-weight: 300;
    padding: 10px;
    border: 3px solid #d1cfd1;
}

.evalFieldInput:focus {
    border: 3px solid #555;
  }

.evalCenter > h2{
  text-indent: 30px;
}

body{
  background: #ffffff;
}

.submitButton {
    background-color: red;
}