.loginPage{
  display: flex;
  height: 100vh;
}

.loginAside {
    width: 50%;
    background-image:  url(https://image.freepik.com/free-vector/online-doctor-consultation-patient-is-remote-appointment-with-therapist_208509-479.jpg);
     /*https://as2.ftcdn.net/jpg/02/22/42/73/500_F_222427393_bTsvH1oHP1AJJoLmkaJbQ6TEmyeLwPFO.jpg);*/
     background-repeat: no-repeat;
     background-color: white;
     background-size: contain; 
     background-position:bottom;
  }

.loginForm {
    width: 50%;
    background-color: #FDFFFC;

    /*background: img=src;*/
}

.transbox{
  margin-top: 25%;
  background: rgb(207, 207, 207,0);
  border-radius: 4px;
  border: 0px solid black;
}

.formCenter {
    justify-content: center;
    margin: 30px;
    padding: 25px 25px 25px 25px;
  }

.formFieldLabel {
    display: block;
    text-align: left;
    margin-top:10px;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;   
}
  
.formFieldInput {
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
