.signupAside {
  width: 50%;
  background-image:  url(https://st4.depositphotos.com/5775856/38596/v/600/depositphotos_385964124-stock-illustration-online-clinic-and-doctor-concept.jpg);
   /*https://as2.ftcdn.net/jpg/02/22/42/73/500_F_222427393_bTsvH1oHP1AJJoLmkaJbQ6TEmyeLwPFO.jpg);*/
   background-repeat: no-repeat;
   background-color: white;
   background-size: contain; 
   background-position:center;
}