.paymentarea{
    width:100vw;
    height:8q0vh;
    background-color: white;
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.wrapper{
    background-color:lightgrey;
    padding: 100px;
    border-radius: 10px;
}
