
.profilePage{
    align-items: center;
    justify-content: center;
    padding: 7px; 
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f2f2f2;
    border-radius: 40px;
    display: flex;
  }

.doctorSide{
    width: 30%;
    /*height: 400px;
    margin: 50px;
    padding: 2px;
    background-color: #f2f2f2;
    background-size: contain;*/
    display: flex;
    justify-content: center;

}

.backButton{
  /*composes: Button from '../ButtonElements';*/
  color: black;
  width: 30px;
  padding: 40px;
  margin: 20px;
  border: 0px solid black;
}

.image-cropper {
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    position: fixed;
  }

/*img{  
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}*/

.rating{
    display: block;
}

.doctorProfileInfo{
   width: 60%;
   text-align: center;
}