.searchBox {
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color:#D6DBE6;
    background-size: contain;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 10px 10px #eeeeee;
    padding-left: 10%;
    padding-right: 10%;

}


.buttonPos {
    margin-left: 25%;
}

.formSearch {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.resultAnnounce {
    margin-top : 50px;
    margin-bottom: 20px;
    margin-left: 10%;
    font-weight: bold;
    font-size: medium;
    color: grey;
}

.searchInput{
    padding:10px;
    margin-left: 50px;
    border-radius: 10%;

}

.searchResults{
    width:100%;
}

.doctorCards {
    margin: 50px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}