.searchBox {
    width: 30%;
    margin-top: 50px;
    margin-left: 40px;
    background-color:#D6DBE6;
    background-size: contain;
    border-radius: 20%;
    align-items: center;
    padding: 10px;
}

.container{
    display:flex;
}

.buttonPos {
    margin-left: 25%;
}

.formSearch {
    border: none;
    margin : 10%;
}

.resultAnnounce {
    margin-top : 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: bold;
    color: grey;
}

.searchInput{
    padding:10px;
}

.searchResults{
    width:70%;
}

.doctorCards {
    margin-left: 40px;
}